{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}
</div>

<div class="mb-3">
    {{ form_label(form.prenom) }}
    {{ form_widget(form.prenom) }}
    {{ form_errors(form.prenom) }}
</div>

<div class="mb-3">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
</div>

<div class="mb-3">
    {{ form_label(form.telephone) }}
    {{ form_widget(form.telephone) }}
</div>

<div class="mb-3">
    {{ form_label(form.pays) }}
    {{ form_widget(form.pays) }}
</div>

<div class="form-check mb-3">
    {{ form_widget(form.notification_document) }}
    {{ form_label(form.notification_document) }}
</div>

<div class="form-check mb-3">
    {{ form_widget(form.agreeTerms) }}
    {{ form_label(form.agreeTerms) }}
    {{ form_errors(form.agreeTerms) }}
</div>

<div class="mb-3">
    {{ form_label(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}
    {{ form_errors(form.plainPassword) }}
</div>

<button class="btn btn-primary w-100">
    Créer mon compte
</button>

{{ form_end(form) }}
