{% extends 'base.html.twig' %}

{% block title %}Upload document{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container" style="max-width: 700px">

        <h3 class="mb-4">Ajouter un document client</h3>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <div class="card shadow-sm rounded-4">
            <div class="card-body p-4">

                {{ form_start(form, { attr: { enctype: 'multipart/form-data' } }) }}

                    <div class="mb-3">
                        {{ form_label(form.client) }}
                        {{ form_widget(form.client, { attr: { class: 'form-select' } }) }}
                        {{ form_errors(form.client) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, { attr: { class: 'form-control' } }) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="mb-4">
                        {{ form_label(form.fichier) }}
                        {{ form_widget(form.fichier, { attr: { class: 'form-control' } }) }}
                        {{ form_errors(form.fichier) }}
                    </div>

                    <button class="btn btn-primary">
                        Upload le document
                    </button>

                {{ form_end(form) }}

            </div>
        </div>

    </div>
</section>
{% endblock %}
